// SCSS Syntax http://sass-lang.com/documentation/file.SASS_REFERENCE.html#css_extensions

// variable declaration in SCSS we use variables to keep style clean and easy to modify
// if we use this variable to say 50 rules and want to change the color, we would change only this variable.
$mycolor: #67A6A6;

// in SCSS we nest
nav {
  // in CSS this was selected by nav a
  a {
    color: $mycolor !important;
    // change a on hover example
    // in CSS this was selected by nav a:hover
    &:hover {
      color: $brand-primary !important;
    }
  }
}

h1{
	font-size:5.5rem;
	font-family: 'Space Mono', sans-serif;
	font-weight: 900;
	color:black;
}

h2{
	color:black;
	font-family: 'Space Mono', sans-serif;
	font-weight: bold;
	font-size: 2.5rem;
}


.header-col-2{
background-color:blue;
	.text-left{
	background-color:blue;
	}
	.image-right{
		background-color:blue;
	}
}

.cta-full-width{
	height:500px;
	display: flex;
	flex-direction:column;
	align-items: center;
	width: 100%;
	justify-content: space-between;

	.text-center{
	text-align: center;

}
}

body {
	width: 100%;
	overflow-x:hidden;
}
