// SCSS Syntax http://sass-lang.com/documentation/file.SASS_REFERENCE.html#css_extensions

// variable declaration in SCSS we use variables to keep style clean and easy to modify
// if we use this variable to say 50 rules and want to change the color, we would change only this variable.
$mycolor: #fe5e14;
$yellow: #ffef14;
$orange: #fe5e14;
$blue: #08adff;
$green: #14ffc4;
// in SCSS we nest


// beatiful buttons

.labs-btn{

.slide:hover,
.slide:focus {
  box-shadow: inset 28em 0 0 0 blue;
}

button {  
  color: blue;
  transition: 0.5s;
  
  &:hover,
  &:focus { 
    border-color: blue;
    color: #fff;
  }
  a{
		text-decoration: none;
		&:active{
			color: inherit;
		}
		&:visited{
			color: inherit;
		}
	}
}

code { 
  color: #e4cb58;
  font: inherit;
}
}


.btn_orange {
	padding: 10px 40px;
  background: none;
  font-family: "Space Mono";
  font-weight: 700;
  border: 3px solid $orange;
  border-radius: 0;
  cursor: pointer;
  color: $orange;
  position: relative;
  transition: 300ms;
  overflow: hidden;
  font-size: 14px;
	z-index: 100;
	a{
		text-decoration: none;
		&:active{
			color: inherit;
		}
		&:visited{
			color: inherit;
		}
	}

	&:hover {
  color: white;
}
&:before {
  z-index: -1;
  border-radius: 100%;
  transition: 400ms ease;
  margin-top: 50%;
  margin-left: -50%;
  background: $orange;
  height: 0px;
  width: 0px;
  content: "";
  position: absolute;
  opacity: 1;
}
&:hover:before {
  padding-top: 200%;
  width: 200%;
  margin: -100%;
  opacity: 1;
}
}

.btn_yellow {
	padding: 10px 40px;
  background: none;
  font-family: "Space Mono";
  font-weight: 700;
  border: 3px solid $yellow;
  border-radius: 0;
  cursor: pointer;
  color: $yellow;
  position: relative;
  transition: 300ms;
  overflow: hidden;
  font-size: 14px;

  a{
		text-decoration: none;
		&:active{
			color: inherit;
		}
		&:visited{
			color: inherit;
		}
	}
	
	&:hover {
  color: white;
}
&:before {
  z-index: -1;
  transition: 400ms ease;
  margin-top: 85%;
  margin-left: -75%;
  background: $yellow;
  height: 0px;
  width: 0px;
  content: "";
  position: absolute;
  opacity: 1;
  transform: rotate(45deg)
}
&:hover:before {
  padding-top: 200%;
  width: 200%;
  margin: -100%;
  opacity: 1;
}
}		

.btn_blue {
	padding: 10px 40px;
  background: none;
  font-family: "Space Mono";
  font-weight: 700;
  border: 3px solid $blue;
  border-radius: 0;
  cursor: pointer;
  color: $blue;
  position: relative;
  transition: 300ms;
  overflow: hidden;
  font-size: 14px;

  a{
		text-decoration: none;
		&:active{
			color: inherit;
		}
		&:visited{
			color: inherit;
		}
	}
	
	&:hover {
  color: white;
}
&:before {
  z-index: -1;

  transition: 400ms ease;
  margin-top: 60%;
  margin-left: -50%;
  background: $blue;
  height: 0px;
  width: 0px;
  content: "";
  position: absolute;
  opacity: 1;
}
&:hover:before {
  padding-top: 200%;
  width: 200%;
  margin: -100%;
  opacity: 1;
}
}

.btn_green {
	padding: 10px 40px;
  background: none;
  font-family: "Space Mono";
  font-weight: 700;
  border: 3px solid $green;
  border-radius: 0;
  cursor: pointer;
  color: $green;
  position: relative;
  transition: 300ms;
  overflow: hidden;
  font-size: 14px;

  a{
		text-decoration: none;
		&:active{
			color: inherit;
		}
		&:visited{
			color: inherit;
		}
	}
	
	&:hover {
  color: white;
}
&:before {
  z-index: -1;
  transition: 400ms ease;
  margin-top: -10%;
  margin-left: -50%;
  background: $green;
  height: 0px;
  width: 0px;
  content: "";
  position: absolute;
  opacity: 1;
}
&:hover:before {
  padding-top: 200%;
  width: 200%;
  margin: -100%;
  opacity: 1;
}
}			


.btn_white {
	padding: 10px 40px;
  background: none;
  font-family: "Space Mono";
  font-weight: 700;
  border: 3px solid white;
  border-radius: 0;
  cursor: pointer;
  color: white;
  position: relative;
  transition: 300ms;
  overflow: hidden;
  font-size: 14px;
	
	&:hover {
  color: white;
}
&:before {
  z-index: -1;
  transition: 400ms ease;
  margin-top: 85%;
  margin-left: -75%;
  background: white;
  height: 0px;
  width: 0px;
  content: "";
  position: absolute;
  opacity: 1;
  transform: rotate(45deg)
}
&:hover:before {
  padding-top: 200%;
  width: 200%;
  margin: -100%;
  opacity: 1;
}
}	

li{
	list-style: none;
	}
ul{
	padding-left: 0px;
}
∂
nav {
  // in CSS this was selected by nav a
  a {
    color:#fe5e14 !important;
    // change a on hover example
    // in CSS this was selected by nav a:hover
    &:hover {
      color: black !important;
    }
  }
}

// main menu

#wrapper-navbar{

.navbar{
	border-bottom:0px $orange solid;
}
	.container{
		width: 100%;
	}
	.navbar-logo{
		width:10%;
		position: fixed;
    	z-index: 9999;
    	margin-left: 7px;
	}
}

#navbarNavDropdown{
	justify-content:flex-end;
	height: 15vh;
}

#main-menu{
	a{
		color:black;
	}
	color: $orange;
	font-family: 'Space Mono',sans-serif;
	align-items: center;
}

h1{
	font-size:3.75rem;
	font-family: 'Space Mono', sans-serif;
	font-weight: 900;
	color:black;
	text-shadow: 1px 2px 3px rgba(0,0,0,0.1);
}

h2{
	color:black;
	font-family: 'Space Mono', sans-serif;
	font-weight: bold;
	font-size: 1.5rem;
	text-shadow: 1px 2px 3px rgba(0,0,0,0.1);
}

h3{
	color:black;
	font-family: 'Space Mono', sans-serif;
	font-weight: bold;
	font-size: 2rem;
	text-shadow: 1px 2px 3px rgba(0,0,0,0.1);
}

body {
	width: 100%;
	overflow-x:hidden;
	font-family: 'Roboto'
}

p {
	text-shadow: 1px 2px 3px rgba(0,0,0,0.1);
}

img {
	text-shadow: 1px 2px 3px rgba(0,0,0,0.1);
}

input:focus {
    outline:none;
}
textarea:focus {
    outline:none;
}

// inner-shapes

.inner-triangle{
   	border-right: 5vw solid transparent;
    border-bottom: 5vw solid $orange;
    height: 100%;
    width: 0;
    position: relative;
    left: 0;
    bottom: 0;
    z-index: 2;
	}


// fullwidth-cta-section-template


.cta-background {
	background-repeat: no-repeat;background-position: center;
}

.cta-full-width{
	padding-top: 200px;
	padding-bottom: 200px;
	display: flex;
	flex-direction:column;
	align-items: center;
	width: 100%;
	justify-content: space-between;
		h1{
			text-align: left;
		}
		h3{
		text-align: left;
    	font-size: 1.25rem;
    	padding-bottom: 5%;
		}

	.text-center{
	text-align: center;

	}
}

.subheader-text-right{
	color: red;
}

//3col-centered-section-template

.three-col{
	padding-top: 10vh;
	padding-bottom: 10vh;
	.three-img{
		position: absolute;
		right: 0px;
		transform:translate(0%,30%);
	}
	h2{
		padding-top: 3vh;
	}
     .three-col-img {
     	height: 300px;

     	background-repeat: no-repeat;
			overflow: hidden;
			background-size: cover;
    		background-position: center;

     }
     .three-col-title{
     	padding-left: 5%;
     	padding-bottom: 5%;
     }
}

//blog-footer-section-template

.blog-footer-section {
	padding-top: 200px;
	padding-bottom: 200px;
	display: flex;
	flex-direction:column;
	width: 100%;
	align-items: center;
    justify-content: center;
    


    .row {
		flex: 1 0 auto;
		width: 100%;
		align-items: center;
	}	
		.blog-footer-posts {
			padding-bottom: 150px;
			height: 100px;


		.blog-footer-post {
			height: 200px;
			padding: 20px;
			color: white;
			background-color: $orange;
			background-blend-mode: multiply;
			background-repeat: no-repeat;
			overflow: hidden;
			background-size: cover;
    		background-position: center;
			margin: 10px;
			display: flex;
			align-items: flex-end;
			flex-wrap: wrap;
			
			.blog-footer-post-content{
			flex: 1 0 auto;
			display: flex;
		    flex-direction: column;
		    flex-wrap: wrap;
		    max-width: 100%;
			
			h3 {
				color:white;
			}

			button{
				width:100%;
				height: 40px;
				background-color: white;
				color: black;
				bottom: 0;
				border: 0;
				font-family: 'Space Mono', sans-serif;
				font-weight: bold;
				font-size: 1.25rem;
				margin-top: 10px;
			}
			}
		}

		}
		.blog-footer-cta {
			text-align:center;
			height: 50px;
	
		}
	
}

//categories Section

.category-section{
	padding-top: 220px;
	padding-bottom: 300px;
	padding-right: 100px;
	background-repeat: no-repeat;
	overflow: visible;
	background-size: 75%;
    background-position: right;
	
	.title{
		transform: rotate(-90deg);
		margin-top: 14vw;
		margin-left: 20vw;
	}
	
	ul{
		list-style-type: none;
	}

	h1{
		white-space: nowrap;
		font-size: 2.75rem;
	}

	.list {
		margin-top: -50px;
	}
	.img-w-category-left{
		margin-right: 100px;	
		
	}
	.img-w-category-right{
		text-align: right;
		margin-left: -100px;
		
	}
}

//two-col-txt-section-template

.two-col-txt-section {
	padding-top: 10vh;
	padding-bottom: 10vh;
	display: flex;
	flex-direction:column;
	width: 100%;
    justify-content: center;
    background-repeat: no-repeat;
	overflow: hidden;
	background-size: cover;
    background-position: center;
    img{
    	position: absolute;
    	right: 0;
    	top: 50%;
    	transform: translate(0,-8%);
    }
    .two-col-txt-left{
    	padding-left: 0px;
    }

	
		h1{
			font-size: 2.75rem;
			color: $orange;
		}
		
		h3{
			font-size:1.25rem;
			line-height: 1.65rem;
		}

				// button {
				// 		width: 100%;
				// 		height: 50px;
				// 		border: 0;
				// 		background-color: $orange !important;
				// 		color: white;
				// 		font-family: 'Space Mono', sans-serif;
				// 		font-weight: bold;
				// 		font-size: 1.25rem;
				// 		margin-top: 10px;
				// 	}
		
}

	.two-col-txt-first-section{
	padding-bottom: 15vh;
	background-repeat: no-repeat;
	background-size: 20%;
	img{
		position: absolute;
		transform: translate(0%,-15%);
	}

	h1{
		text-align: right;
		color: $orange;
	}
	.two-col-txt-right{
		h3{
			font-size:1.25rem;
			line-height: 1.65rem;
			}
		}
	}	
// 2-col text first section template


// portfolio section
.portfolio {

	
	.row{
	width: 100%;
	margin: 0;
	padding: 50px 20px;

	}
	.startup-section{
		text-align: center;
		margin-left:0px;
		margin-bottom:60px;
	}
	.startup-logo {
		height: 40vh;
		margin-bottom: 10px;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

// contact-section-template

.contact-section-template{

}

.contact-section{
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	flex-direction:column;
	width: 100%;
    justify-content: center;
    background-repeat: no-repeat;
	overflow: hidden;
	background-size: cover;
    background-position: center;
	
	.contact {
		margin-bottom: 50px;
		.contact-title{
    		margin: 10px;
			
			h3 {
				margin-bottom: 20px;
			}
			p {
				margin-bottom: 20px;
			}
    		a {
    			text-decoration: none;
    			font-size: 1rem;
    		}

    		.private-tour{
    			margin-bottom: 20px;
    		}
    	}
	}

	
    .tours-section{
   
    	


    }
    .container{
    	margin-top: 30px;
    	margin-left: -20px;
    }

    a {
	  color: #70726F;
	  font-size: 20px;
	  
	  transition: all .1s ease;
	}
	a:first-child {
	  
	}
	a:hover {
	  color: $orange;
	}

	i {
		padding: 0 10px;
	}

    input {
    	width: 100%;
    	padding: 10px;
    	
    }

    #first-name-input{
    	border: 3px solid $orange;
    	float:left
    }
    #last-name-input{
    	border: 3px solid $orange;
    	border-left: 0;
    }
    #email-input{
    	border-left: 3px solid $orange;
    	border-right: 3px solid $orange;
    	border-top: 0;
    	border-bottom: 0;
    }
    #message-input{
    	border: 3px solid $orange;
    	height: 55%;
    	width: 100%;
    	padding: 10px;
    }
	
	#submit-input {
		width: 50%;
		height: 40px;
		float: right;
		border: 0;
		background-color: $orange !important;
		color: white;
		font-family: 'Space Mono', sans-serif;
		font-weight: bold;
		font-size: 1.25rem;
		line-height: 20px;
		margin-top: -10px;
	}
}


// profile-section-template

.profile-section-template{
	background-repeat: no-repeat;
    // background-size: 106%;
    // background-position-x: 355%;

}

.profile-section{
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  margin: 0;
	
	.profile-txt {
		background-repeat: no-repeat;
		background-size: contain;
		height: 30vw;
		width: 50%;
		display: flex;
		align-items: center;
	}

	.profile-title{
		padding: 30px;
		
	}
	.profile-body{
		
	}
	.profile-image{
		height: 30vw;
		background-repeat: no-repeat;
		overflow: hidden;
		background-size: cover;
    	background-position: center;
	}
	
}

// header section template

.header-col-2 {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 margin-bottom: 5em;

	.header-text{
		padding: 0 100px 0 100px;
		text-align: center;
			h1{
				font-size: 3.75rem;
				padding-bottom: 5%;
				text-align: left;
			}
			h2{
				text-align: left;
			}
			h3{
				text-align: left;
				font-size: 1.25rem;
				padding-bottom: 5%;
			}
		}

	.image-right{
	background-size: contain;
    background-position: right;
    padding-right: 0px;
    padding-left: 0px;
    img{
    	max-width: 100% !important;
    }
  	}
}
.about-text-left{
	font-family: 'Roboto' !important;
	font-size: 1em !important;
	font-weight: 200;
}
.about-title{
	text-align: right;
	font-size: 0.5em;
}


// list with images section

.list-w-img-section{
	background-size: 50%;
	background-repeat: no-repeat;
	background-position-y:25%; 
	background-position-x:100%;
	h3{
		margin-top: 25%;
	}
	.list-img{
		position: absolute;
		right:0px;
		transform:translate(0%,180%);
	}
	.section-image {
		margin-bottom: 5vh;
		background-repeat: no-repeat;
		overflow: hidden;
		background-size: cover;
    	background-position: center;
	}

	.header-image-one {
		background-repeat: no-repeat;
		overflow: hidden;
		background-size: cover;
    	background-position: center;
	}

	.arrow-left-1 {
    width: 0;
    height: 0;
    float: right;
    border-top: 366px solid transparent;
    border-right: 366px solid $yellow;
	}

	.background-img{
		position: absolute;
		width: 100%;
		z-index: -10;
	}
	.list-section{
		padding: 50px 0px !important;
			ul{
				list-style: none;
				padding-left: 0px;
			li{
				padding-left: 0px;
				padding-bottom: 8%;
			}
		}
	}

	.section-image{
		height: 355px;
		background-color: blue;
	}		

	.section-title{
		padding-bottom: 8%;
	}
		
	.header-image-one{
		height: 500px;
    	background-repeat: no-repeat;
    	margin-bottom: 10%;
	}
	
}

// newsletter-section-template

.wrapper{
		padding-top: 0px !important;
	}
.newsletter-section-template{
	background-color: $orange;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 5%;
    padding-bottom: 5%;
	.name{
		float: left;
		height: 60px;
	}
	h2{
		padding-top:5%; 
	}
	h3{
		color:white;
		padding-top:5%;
		padding-bottom: 5%;
	}
	.submit-btn{
		margin-top: 25px;
		font-size: 1.5rem;
		font-family: 'Space Mono', sans-serif;
		font-weight: 900;
		padding: 0px;
	}
	.subscribe-text{
		padding: 20px 0px 0px 25px;
	}
	button, input, select, textarea{
		width: 100%;
		border: 0px;
		height: 50px;
		padding-left: 20px;
	}
	.input-text-font{
		font-family: roboto;
	}
	.mc-field-group{
		padding: 5px;
	}
}

// filtering section template

#categories{
		list-style-type: none;
	    margin: 10px;
	    padding: 0;
	    overflow: hidden; 
	    // background-color: #333;
		li:nth-child(1){
			background-color: white;
			text-align: left;
			padding: 7px 0px;
			font-family: 'Space Mono', sans-serif;
		}
		li{
		    -webkit-transition-duration: 0.4s; /* Safari */
    		transition-duration: 0.4s;
			float: left;
			padding: 8px 16px;
			background-color: white;
			margin-right: 10px;
			margin-left:10px;
			font-family: roboto;
		}
		li:hover{
			background-color: $orange;
			color: white;
		}
		li:hover:nth-child(1){
			background-color: white;
			color: black;
		}
		li a{
			display: block;
		    color: black;
		    text-align: center;
		    text-decoration: none;
		}
	}


// footer section

.blog-single{
	border: 10px solid white;
	height: 275px;
	background-color: grey;
	background-size: cover;
	background-blend-mode: luminosity;
		.entry-title{
		text-shadow: 5px 5px 18px black;
		}
		.btn-secondary{
		    border-radius: 0px;
		    border:solid 5px $orange;
		    font-family: Space mono;
    		font-weight: 900;
		    width: 90%;
		}
		h2{
		font-size: 1.5em;
		}
		.entry-meta{
		.posted-on{
			color: white;
			a{
				color: white;
			}
		}
		.byline{
			color: white;
		}
	}
	.entry-header{
		.entry-title{
			padding-top: 10px;
			color: white;
			a{
			color: white;
			}
			a.url.fn.n{
			color: white;
			}
		}
	}
	.entry-date{
		display: none;
	}
	.entry-content p{
		color: white;
	}
}

// footer menu

#menu{
	 height: 300px;
	 padding-top: 10%;
    -webkit-column-count: 4;
       -moz-column-count: 4;
            column-count: 4;
}

#menu li{
	// display: inline-block;
	// padding-bottom: 20px;
}

#menu li a{
	color: black;
	font-family: 'Space Mono', sans-serif;
}
.social-footer{
	padding-top: 10px;
    padding-bottom: 5px;
}

.concordia-logo img{
	width: 60%;
	float: right;
	padding-right: 8%;
}
.social-media-footer{
	text-align: center;
}
.trademark-spacing{
	width: 50px;
	display: inline-block;
}
.footer-color{
	background-color: #e0e0e0;
	padding-top: 20px;
	padding-bottom: 20px;
}

.d3-footer-content{
	text-align: center;
	.fa{
		padding-right: 14px;
		color: $orange;
	}
	p{
		font-size: 14px;
	}
}
// grid blog table-layout

.understrap-read-more-link{
	position: absolute;
	margin-bottom: 20px;
	width: 85%;
	bottom: 0;
}

// pagination section
.pagination{
	text-align: center !important;
	display: flex;
	justify-content: center;
}

.page-link{
	border-color: $orange !important;
	color: $orange !important;
	a{
		color: $orange !important;
	}
}

.active.page-item a{
	color: white !important;
	font-family: 'Space Mono', sans-serif !important;

}
.page-item.active .page-link{
	border-color: $orange;
	background-color:$orange;
}

.page-item .page-link{
	border-bottom-left-radius: 0rem;
    border-top-left-radius: 0rem; 
}

.page-item:first-child .page-link {
	border-bottom-left-radius: 0rem;
    border-top-left-radius: 0rem; 
}

.page-item:last-child .page-link{
	border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important; 
}

.page-link{
	border-radius: 0rem !important;
}


// metrics section

.metrics-section{
	padding-top: 10%;
	.metric-section-bg{
		position: absolute;
		width: 35%;
    	transform: translate(-1%,-5%);
	}
	.metrics-list-title{
		text-align: left;
		padding-bottom: 10%;
	}
	.header-image{
		height: 50vh;
		background-repeat: no-repeat;
	}
	.metrics-section-bg{
		position: absolute;
		width: 50%;
	}
	.inner-triangle{
	   	border-right: 200px solid transparent;
	    border-bottom: 200px solid $yellow;
	    height: 100%;
	    width: 0;
	    position: relative;
	    left: 0;
	    bottom: 0;
	    z-index: 2;
	}
	.inner-circle{
	    border-top: 200px solid #fe5e14;
	    border-left: 200px solid #fe5e14;
	    border-radius: 0 0 100% 0;
	    width: 0;
	    position: relative;
	    left: 0;
	    bottom: 0;
	    z-index: 2;
	}
	h1{
		text-align: center;
		padding-top: 10%;
		
    }
	.list-section{
		padding: 0px;
		text-align: center;
			ul{
				list-style: none;
				padding-left: 0px;
			li{
				padding-left: 0px;
				padding-bottom: 8%;
				padding-top: 8%;
			}
		}
	}
}


.grid{
	height: 210px;
	background-repeat: no-repeat;
	// background-size: cover;

}

.grid-1{
	position: absolute;
    right: 0;
    z-index: -10;
}

// 3 column list section
.three_col_bg_image{
	position: absolute;
	// top: 200%;
	// right: 0;
}

.three-col-list-second-section{
	padding-top: 20vh;
	padding-bottom: 20vh;

	.bg-shape {
		img{
		position: absolute;
		left:0;
		}
	}

	p{
	margin-bottom: 3rem;
	}
	.image-section{
		padding-right: 0px;
	}
	.image-left{
	height: 100% !important;
	background-size: cover;

	
}

.col-list-section{
	display: flex;
	align-items: center;
	}
}

.three-col-list-section{
	padding-bottom: 20vh;

	.image-left-one{
	height: 100% !important;
	background-size: cover;
}

.col-list-section-title{
	padding-bottom: 5%;
	font-size: 2em;
     }

.col-list-section{
	display: flex;
	align-items: center;
	}
}


// navigation section

.two-col-margin{
	margin-right: 10%;
	margin-left: 10%;
}

.two-col-navigation-header{
	text-align: left;
	padding-bottom: 50px;
}
.two-col-navigation-subheader{
	padding-bottom: 50px;
}

.two-col-navigation{
	padding-top: 2em;
	padding-bottom: 6em;
	.navigation-spacing{
		margin: 2em;
	}
	.navigation-item{
		h2{
			padding-top: 20%;
		}
	// margin: 2em 3em;
	min-height: 40vh;
	box-shadow: 1px 1px 37px 0px rgba(0,0,0,0.15);
	// background-size: cover !important;
	margin-bottom: 2em;
	// background-repeat: no-repeat;
	text-align: center;
	p{
		padding-left: 2em;
		padding-right:2em;
	}
	}	
	.custom-btn {
  /*padding: 10px 25px;*/
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}
.btn-5 {
  width: 100%;
  height: 100%;
  line-height: auto;
  padding: 0;
  border: none;


}
.btn-5 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-5:before, .btn-5:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #fe5e14;
  transition: all 0.3s ease;
}
.btn-5:before {
  height: 50%;
  width: 3px;
}
.btn-5:after {
  width: 50%;
  height: 3px;
}
.btn-5:hover:before {height: 100%;}
.btn-5:hover:after {width: calc(100% - 15px);}
.btn-5 span:before, .btn-5 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #fe5e14;
  transition: all 0.3s ease;
}
.btn-5 span:before {
  width: 3px;
  height: 50%;
}
.btn-5 span:after {
  width: 50%;
  height: 3px;
}
.btn-5 span:hover:before {height: 100%;}
.btn-5 span:hover:after {width: 100%;}

}

.bg_image{
		position: absolute;
		left:0;
		top:35%;
		z-index: -10;
	}


.careers-col{
	font-family: 'Roboto';
	font-size: 1em;
	font-weight: 100;
	padding-bottom: 15%;
}
// categories section

.no-padding{
		padding: 0px !important;
}
.img-w-category{
	height: 600px;
	background-size: cover;
	display: flex;
	width: 100%;
	align-items: center;
    justify-content: center;
    border: 10px solid $orange;
		.category-item{
		margin-right: 10%;
		}
		ul{
			list-style: none;
		}
		li{
			list-style: none;
			float: left;
			}
	}

// partners section
.partners-container{
	margin-top: 100px;
	.partners-header{
		margin-bottom: 7vh;
	}
.partners{
	height: 40vh;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 1%;
}
}

@media screen and (max-width: 500px){
	.header-col-2 .arrow-left{
		transform: translate(0,-56%);
	}
	.metrics-section{
	.list-section{
		padding: 0px;
			ul{
				list-style: none;
				padding-left: 15px;
				padding-right: 15px;
			li{
				padding-left: 15px;
				padding-right: 15px;
				padding-bottom: 8%;
				padding-top: 8%;
				}
			}
		}	
	}
	// navigation section
	.two-col-navigation{
		.navigation-item{
		margin-top: 2em;
		margin-right: 1em;
		margin-left: 1em;
		min-height: 40vh;
		background-size: 60%;
		background-repeat: no-repeat;
		text-align: center
	}
}
}

// events section

.events-section{
	padding-bottom: 10%;
}

.events-section-headers, .events-section-header, .event-section-content{
	text-align: center;
}


// faq section

.faq-title-section{
	background-color: white;
	padding: 25px 45px 25px 45px;
	h1{
		padding-bottom: 15px;
	}
	p{
		color:black;
	}
}

.outline{
	border-left: 3px $orange solid;
	border-bottom: 3px $orange solid;
	height: 100%;
	transform:translate(5%, -105%);
}

.outline-yellow{
	border-left: 3px $yellow solid;
	border-bottom: 3px $yellow solid;
	height: 100%;
	transform:translate(5%, -105%);
}

.outline-blue{
	border-left: 3px $blue solid;
	border-bottom: 3px $blue solid;
	height: 100%;
	transform:translate(5%, -105%);
}

.outline-green{
	border-left: 3px $green solid;
	border-bottom: 3px $green solid;
	height: 100%;
	transform:translate(5%, -105%);
}




.outline-1{
	border-left: 3px $orange solid;
	border-bottom: 3px $orange solid;
	transform:translate(5%, -105%);
}

// accordion section

.accordion, .accordion * {
	-webkit-box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	box-sizing:border-box;
}

.accordion {
	padding-left: 0px;
	overflow:hidden;
	// box-shadow:0px 1px 3px rgba(0,0,0,0.25);
	border-radius:0px;
	background:white;
}

/*----- Section Titles -----*/
.accordion-section-title {
	width:100%;
	padding:15px;
	display:inline-block;
	border-bottom:1px solid $orange;
	background:white;
	transition:all linear 0.15s;
	font-family: 'Space Mono', sans-serif;
	/* Type */
	font-size:1.200em;
	color:black;
}

.accordion-section-title.active, .accordion-section-title:hover {
	background:$orange;
	color: black;
	/* Type */
	text-decoration:none;
}

.accordion-section:last-child .accordion-section-title {
	border-bottom:none;
}

/*----- Section Content -----*/
.accordion-section-content {
	padding:15px;
	display:none;
}


// blog-section

.blog-section{
	display: flex;
	 align-items: center;
    justify-content: center;
}

.rt-col-md-12{
	padding-top: 10px;
	padding-bottom: 10px;
}
.rt-equal-height{
	border: 2px solid $orange;
	margin-left: 10px;
	margin-right:10px;
	padding: 30px;
}
.rt-tpg-container .rt-equal-height{
	margin-bottom: 0px;
	display: flex;
	justify-content:space-between;
	flex-direction:column;
	a{
		color: black;
		font-weight: 900;
	}
}

.rt-holder{
	display: flex;
	justify-content:space-between;
	flex-direction:column;
}
.read-more{
	text-align: left !important;
	a{
		background-color: $orange !important;
		color:black !important;
		border-radius: 0px !important;
		font-family: 'Space Mono', sans-serif;
	}
}

.community-blog{
	width: 100%;
	display: flex;
	justify-content:center;
	flex-direction:row;
}

// toggle menu

.corner-menu{
	z-index:999;
	#corner-logo{
	background-image: url('http://localhost:8888/d3-dev-3/wp-content/uploads/2017/08/black-logo.svg');
    height: 70px;
    width: 70px;
    margin-left: -7px;
    margin-top: -48px;
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 150;
	}
@keyframes checked-anim {
    50% {
        width: 35%;
        height: 100vh;
    }
    100% {
        width: 35%;
        height: 100vh;
        border-radius: 0;
    }
}
@keyframes not-checked-anim {
    0% {
        width: 25%;
        height: 100vh;
    }
}
li, a {
    color: $orange;
    font: 14pt "Roboto", sans-serif;
    font-weight: 700;
    line-height: 1.8;
    text-decoration: none;
    text-transform: none;
    list-style: none;
    outline: 0;
    display: none;
}
li {
    width: 230px;
    text-indent: 56px;
    display: block;
	transform: translateX(-800px);
}
a:focus {
    display: block;
    color: #333;
    background-color: #eee;
    transition: all .5s;
}
aside {
    position: absolute;
    color: white;
    top: 35%;
    right: 10%;
    text-align: right;
}
h1 {
    line-height: 0;
    font-size: 4vw;
    font-weight: 700;
}
h3 {
    float: right;
    line-height: .3;
    font-size: 2.5vw;
    font-weight: lighter;
}
h4 {
    float: left;
    margin-left: -2%;
    font-size: 1.5vw;
    font-weight: lighter;
}


#trigger, #burger, #burger:before, #burger:after {
    position: absolute;
    left: 25px;
    top: 120px;
    background: #fff;
    width: 30px;
    height: 3px;
    transition: .2s ease;
    cursor: pointer;
    z-index: 101;
    margin-top: 0px;
}

#trigger {
    height: 25px;
    z-index: 101;
    background: none;
}
#burger:before {
    content: " ";
    top: 10px;
    left: 0;
}
#burger:after {
    content: " ";
    top: 20px;
    left: 0;
}
#menu-toggle:checked + #trigger + #burger {
    top: 130px;
    background:$orange;
    transform: rotate(180deg);
    transition: transform .2s ease;
}

#menu-toggle:checked + #trigger + #burger:before {
    width: 20px;
    top: -4px;
    left: 18px;
    background:$orange;
    transform: rotate(45deg) translateX(-5px);
    transition: transform .2s ease;
}
#menu-toggle:checked + #trigger + #burger:after{
    width: 20px;
    top: 2px;
    left: 18px;
    background:$orange;
    transform: rotate(-45deg) translateX(-5px);
    transition: transform .2s ease;
}
#menu {
	z-index: 100;
	height: 180px;
    width: 180px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    position: fixed;
    white-space: nowrap;
    left:0;
    top:0;
    padding: 10vh 0;
    margin: 0; padding: 0;
    background-color: $orange;
    border-bottom-right-radius: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    animation: not-checked-anim .2s both;
    transition: .2s;
}

#menu-toggle:checked + #trigger + #burger + #menu{
    animation: checked-anim 1s ease both;
    background-color: white;
    padding-top: 12.5%;
    padding-bottom: 10%;
}

#menu-toggle:checked + #trigger ~ #menu > li, a {
    display: block;
    transform: translateX(8%);
    transition: transform .5s ease;
    animation-delay: 2s;
}
#menu-toggle:checked + #trigger ~ #menu > li, a:hover {
    color:$orange !important;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    display: none;
	}
}

.bounce{
	border:4px solid black;
}