// SCSS Syntax http://sass-lang.com/documentation/file.SASS_REFERENCE.html#css_extensions

// variable declaration in SCSS we use variables to keep style clean and easy to modify
// if we use this variable to say 50 rules and want to change the color, we would change only this variable.
$mycolor: #67A6A6;
$yellow: #ffef14;
$orange: #fe5e14;
// in SCSS we nest



// beatiful buttons

.labs-btn{

.slide:hover,
.slide:focus {
  box-shadow: inset 28em 0 0 0 blue;
}

button {  
  color: blue;
  transition: 0.5s;
  
  &:hover,
  &:focus { 
    border-color: blue;
    color: #fff;
  }
}

// Basic button styles
button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

code { 
  color: #e4cb58;
  font: inherit;
}

}




nav {
  // in CSS this was selected by nav a
  a {
    color: $mycolor !important;
    // change a on hover example
    // in CSS this was selected by nav a:hover
    &:hover {
      color: $brand-primary !important;
    }
  }
}

h1{
	font-size:3.75rem;
	font-family: 'Space Mono', sans-serif;
	font-weight: 900;
	color:black;
}

h2{
	color:black;
	font-family: 'Space Mono', sans-serif;
	font-weight: bold;
	font-size: 2.5rem;
}

h3{
	color:black;
	font-family: 'Space Mono', sans-serif;
	font-weight: bold;
	font-size: 2rem;
}

body {
	width: 100%;
	overflow-x:hidden;
	font-family: 'Roboto'
}

// fullwidth-cta-section-template

.yellow-btn{
			background-color: $yellow;
			width: 50%;
			border-radius: 0px;
	h2{
    	color: #000;
    	text-align: center;
    	font-size: 1.5rem;
	}
}

.orange-btn{
			background-color: $orange;
			width: 50%;
			border-radius: 0px;
		h2{
    	color: #fff;
    	text-align: center;
    	font-size: 1.5rem;
	}
}


.cta-full-width{
	height:500px;
	display: flex;
	flex-direction:column;
	align-items: center;
	width: 100%;
	justify-content: space-between;
		h1{
			text-align: left;
		}
		h3{
		text-align: left;
    	font-size: 1.25rem;
    	padding-bottom: 5%;
		}

	.text-center{
	text-align: center;

	}
}

.subheader-text-right{
	color: red;
}

.three-col{
	height: 500px;
	display: flex;
	width: 100%;
	align-items: center;
     justify-content: center;
	
	.row {
		flex: 1 0 auto;
	}
}

//blog-footer-section-template

.blog-footer-section {
	height: 350px;
	display: flex;
	flex-direction:column;
	width: 100%;
	align-items: center;
    justify-content: center;
    margin-bottom: 100px;


    .row {
		flex: 1 0 auto;
		width: 100%;
		align-items: center;
	}	
		.blog-footer-posts {
			padding-bottom: 20px;
			height: 100px;


		.blog-footer-post {
			height: 200px;
			padding: 20px;
			color: white;
			background-color: $orange;
			background-blend-mode: multiply;
			background-repeat: no-repeat;
			overflow: hidden;
			background-size: cover;
    		background-position: center;
			margin: 10px;
			display: flex;
			align-items: flex-end;
			flex-wrap: wrap;
			
			.blog-footer-post-content{
			flex: 1 0 auto;
			display: flex;
		    flex-direction: column;
		    flex-wrap: wrap;
		    max-width: 100%;
			
			h3 {
				color:white;
			}

			button{
				width:100%;
				height: 40px;
				background-color: white;
				color: black;
				bottom: 0;
				border: 0;
				font-family: 'Space Mono', sans-serif;
				font-weight: bold;
				font-size: 1.25rem;
				margin-top: 10px;
			}
			}
		}

		}
		.blog-footer-cta {
			text-align:center;
			height: 50px;

			button {
				width: 100%;
				height: 50px;
				border: 5px solid $orange;
				background-color: white;
				color: black;
				font-family: 'Space Mono', sans-serif;
				font-weight: bold;
				font-size: 1.25rem;
				margin-top: 10px;
			}
	
		}
	
}

//two-col-txt-section-template

.two-col-txt-section {
	height: 500px;
	display: flex;
	flex-direction:column;
	width: 100%;
    justify-content: center;
    background-repeat: no-repeat;
	overflow: hidden;
	background-size: cover;
    background-position: center;

	
		h1{
			color: $orange;
		}
		
	

				button {
						width: 100%;
						height: 50px;
						border: 0;
						background-color: $orange !important;
						color: white;
						font-family: 'Space Mono', sans-serif;
						font-weight: bold;
						font-size: 1.25rem;
						margin-top: 10px;
					}
		

}

// contact-section-template

.contact-section-template{

}

.contact-section{
	height: 500px;
	display: flex;
	flex-direction:column;
	width: 100%;
    justify-content: center;
    background-repeat: no-repeat;
	overflow: hidden;
	background-size: cover;
    background-position: center;

    input {
    	width: 100%;
    	padding: 10px;
    	
    }

    #first-name-input{
    	border: 5px solid $orange;
    	float:left
    }
    #last-name-input{
    	border: 5px solid $orange;
    	border-left: 0;
    }
    #email-input{
    	border-left: 5px solid $orange;
    	border-right: 5px solid $orange;
    	border-top: 0;
    	border-bottom: 0;
    }
    #message-input{
    	border: 5px solid $orange;
    	height: 200px;
    }
	
	#submit-input {
		width: 50%;
		height: 40px;
		float: right;
		border: 0;
		background-color: $orange !important;
		color: white;
		font-family: 'Space Mono', sans-serif;
		font-weight: bold;
		font-size: 1.25rem;
		line-height: 20px;
		// margin-top: 10px;
	}
}
// profile-section-template

.profile-section-template{
	background-repeat:no-repeat;
	background-size: 115%; 
	background-position-x: 232%;
}

.profile-section{
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  height: 30vw;
	.profile-title{
	
	}
	.profile-body{

	}
	.profile-image{
		width: 100%;
		height: 30vw;
		background-repeat: no-repeat;
		overflow: hidden;
		background-size: cover;
    	background-position: center;
	}
	
}

// header section template

.header-col-2 {
	 padding: 0 !important;
	 display: flex;
	 align-items: center;
	 justify-content: center;

	.header-text{
		padding: 0 100px 0 100px;
		text-align: center;
			h1{
				font-size: 3.75rem;
				padding-bottom: 5%;
				text-align: left;
			}
			h2{
				text-align: left;
			}
			h3{
				text-align: left;
				font-size: 1.25rem;
				padding-bottom: 5%;
			}
		}

	.arrow-left {
    width: 0;
    transform: translate(0%,-93%);
    height: 0;
    float: right;
    border-top: 207px solid transparent;
    border-bottom: 195px solid transparent;
    border-right: 366px solid $yellow;
	}
	.image-right{
	background-size: cover;
    background-position: center;
    padding-right: 0px;
    padding-left: 0px;
  	clip-path: polygon(0% 0%,0% 100%,60% 50%);
  	}
  	.header-section-button{
  	text-align: center;
  	button{
  		background-color: $yellow;
  		width: 40%;
  		h2{
  			color: black;
  			text-align: center;
  			font-size: 1.5rem;
  	  	  }
  	}
  }
}

.list-w-img-section{
	background-image: url('http://localhost:8888/d3-dev-3/wp-content/uploads/2017/08/innovation-triangle.png');
	background-size: 50%;
	background-repeat: no-repeat;
	background-position-x:100%;

	.arrow-left-1 {
    width: 0;
    height: 0;
    float: right;
    border-top: 366px solid transparent;
    border-right: 366px solid $yellow;
	}

	.list-section{
		padding: 0px !important;
			ul{
				list-style: none;
				padding-left: 0px;
			li{
				padding-left: 0px;
				padding-bottom: 8%;
			}
		}
	}

	.section-image{
		height: 355px;
		background-color: blue;
	}		

	.section-title{
		padding-bottom: 8%;
	}
		
	.header-image-one{
		height: 500px;
    	background-repeat: no-repeat;
    	margin-bottom: 10%;
	}
	.inner-triangle{
   	border-right: 200px solid transparent;
    border-bottom: 200px solid #fefd3d;
    height: 100%;
    width: 0;
    position: relative;
    left: 0;
    bottom: 0;
    z-index: 2;
	}
}

// newsletter-section-template

.newsletter-section-template{
	background-color: $orange;
	display: flex;
	 align-items: center;
	 justify-content: center;
	.name{
		float: left;
		height: 60px;
	}
	h2{
		padding-top:5%; 
	}
	h3{
		color:white;
		padding-top:5%;
		padding-bottom: 5%;
	}
	.submit-btn{
		margin-top: 25px;
		font-size: 1.5rem;
		font-family: 'Space Mono', sans-serif;
		font-weight: 900;
		padding: 0px;
	}
	.subscribe-text{
		padding: 0;
	}
	button, input, select, textarea{
		width: 100%;
		border: 0px;
		height: 50px;
		padding-left: 20px;
	}
	.input-text-font{
		font-family: roboto;
	}
	.mc-field-group{
		padding: 5px;
	}
}

// filtering section template

#categories{
		list-style-type: none;
	    margin: 10px;
	    padding: 0;
	    overflow: hidden; 
	    // background-color: #333;
		li:nth-child(1){
			background-color: white;
			text-align: left;
			padding: 7px 0px;
			font-family: 'Space Mono', sans-serif;
		}
		li{
		    -webkit-transition-duration: 0.4s; /* Safari */
    		transition-duration: 0.4s;
			float: left;
			padding: 8px 16px;
			background-color: white;
			margin-right: 10px;
			margin-left:10px;
			font-family: roboto;
		}
		li:hover{
			background-color: $orange;
			color: white;
		}
		li:hover:nth-child(1){
			background-color: white;
			color: black;
		}
		li a{
			display: block;
		    color: black;
		    text-align: center;
		    text-decoration: none;
		}
	}


.blog-single{
	height: 275px;
	border:10px solid white;
	background-color: $orange;
	background-size: cover;
	background-blend-mode: multiply;
	filter:grayscale(100%);
		.btn-secondary{
		    border-radius: 0px;
		    border:solid 0px black;
		}
		h2{
		font-size: 1.5em;
		}
		.entry-meta{
		.posted-on{
			color: white;
			a{
				color: white;
			}
		}
		.byline{
			color: white;
		}
	}
	.entry-header{
		.entry-title{
			padding-top: 10px;
			color: white;
			a{
			color: white;
			}
			a.url.fn.n{
			color: white;
			}
		}
	}
	.entry-date{
		display: none;
	}
	.entry-content p{
		color: white;
	}
}

// grid blog table-layout

.blog-posts{
	
}

.understrap-read-more-link{
	position: absolute;
	margin-bottom: 20px;
	width: 85%;
	bottom: 0;
}

// pagination section
.page-item.active .page-link{
	nav a{
		color: black !important;
		font-family: 'Space Mono', sans-serif !important;
	}
	background-color:$orange;
}

.page-item .page-link{
	border-bottom-left-radius: 0rem;
    border-top-left-radius: 0rem; 
}

.page-item:first-child .page-link {
	border-bottom-left-radius: 0rem;
    border-top-left-radius: 0rem; 
}

.page-item:last-child .page-link{
	border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important; 
}

.page-link{
	border-radius: 0rem !important;
}


// metrics section
.metrics-section{
	.header-image{
		height: 50vh;
		background-repeat: no-repeat;
	}
	.inner-triangle{
	   	border-right: 200px solid transparent;
	    border-bottom: 200px solid $yellow;
	    height: 100%;
	    width: 0;
	    position: relative;
	    left: 0;
	    bottom: 0;
	    z-index: 2;
	}
	.inner-circle{
	    border-top: 200px solid #fe5e14;
	    border-left: 200px solid #fe5e14;
	    border-radius: 0 0 100% 0;
	    width: 0;
	    position: relative;
	    left: 0;
	    bottom: 0;
	    z-index: 2;
	}
	h1{
		text-align: center;
    	padding-top: 10%;
    }
	.list-section{
		padding: 0px;
			ul{
				list-style: none;
				padding-left: 0px;
			li{
				padding-left: 0px;
				padding-bottom: 8%;
				padding-top: 8%;
			}
		}
	}
}

// navigation section
.two-col-navigation{
	padding-top: 6em;
	padding-bottom: 6em;

	.navigation-item{
	margin-top: 2em;
	min-height: 40vh;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	h2{
		padding-top: 30px;
	}
	p{
		padding-left: 2em;
		padding-right:2em;
	}
	button{
		border-radius: 0px;
		width: 50%;
	    height: 50px;
	    border: 5px solid #fe5e14;
	    background-color: #fff;
	    color: #000;
	    font-family: 'Space Mono',sans-serif;
	    font-weight: 700;
	    font-size: 1.25rem;
	    margin-top: 10px;
		}
	}	
}

// categories section

.no-padding{
		padding: 0px !important;
}
.img-w-category{
	height: 600px;
	background-size: cover;
	display: flex;
	width: 100%;
	align-items: center;
    justify-content: center;
    border: 10px solid $orange;
		.category-item{
		margin-right: 10%;
		}
		ul{
			list-style: none;
		}
		li{
			list-style: none;
			float: left;
			}
	}

// partners section

.partners{
	img{
		
	}
}

@media screen and (max-width: 500px){
	.header-col-2 .arrow-left{
		transform: translate(0,-56%);
	}
	.metrics-section{
	.list-section{
		padding: 0px;
			ul{
				list-style: none;
				padding-left: 15px;
				padding-right: 15px;
			li{
				padding-left: 15px;
				padding-right: 15px;
				padding-bottom: 8%;
				padding-top: 8%;
				}
			}
		}	
	}
	// navigation section
	.two-col-navigation{
		.navigation-item{
		margin-top: 2em;
		margin-right: 1em;
		margin-left: 1em;
		min-height: 40vh;
		background-size: cover;
		background-repeat: no-repeat;
		text-align: center
	}
}
}





